# === App ===
ENV=development

# === Database ===
# asyncpg URL pattern: postgresql+asyncpg://user:password@host:port/dbname
DATABASE_URL=postgresql+asyncpg://kahoot:kahoot@localhost:5432/kahoot

# === CORS ===
CORS_ORIGINS=http://localhost:5173

# === Security ===
SECRET_KEY=change-me-in-real-env.hehe